$IconSize: 72px;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $IconSize;
  height: $IconSize;
  flex: 0 0 $IconSize;
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
  border-radius: 50%;
  background-color: #b9b9f9;
  padding: 2px;
}