.container {
  width: 100%;
  display: flex;
  .icon {
    flex: 0 0 86px;
    padding: 0 48px;
    display: flex;
    align-items: center;
  }
  .items {
    flex: 1;
    display: flex;
    flex-direction: column;
    .item {
      padding: 16px;
      display: flex;
      flex-direction: column;
      border-radius: 1em;
      &:hover {
        box-shadow: 11px 11px 130px 70px rgba(206, 212, 224, 0.18);
      }
      .head {
        display: flex;
        .left {
          flex: 1;
          display: flex;
          .logo {
            flex: 0 0 32px;
            svg,
            img {
              width: 32px;
              height: 32px;
            }
          }
          .details {
            display: flex;
            flex-direction: column;
            margin-left: 12px;
            .name {

            }
            .location {

            }
          }
        }
        .right {
          display: flex;
        }
      }
      .body {
        display: flex;
        .indent {
          flex: 0 0 32px;
        }
        .content {
          display: flex;
          flex-direction: column;
        }
      }
      .keywords {
        display: flex;
        margin-left: 32px;
        .keyword {
          margin-right: 4px;
        }
      }
    }
  }
}